* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.center {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #222222;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
}


.header-left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header-right-list {
    display: flex;
    gap: 33px;

}

.promo {

    background: #F1E4E6;
    margin: 0 auto 65px auto;
}

.promo-content {
    display: flex;
}

.promo-img {}

.promo-txt {
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 16px;
    margin: 290px 0 382px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-txt-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-txt-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.colortxt {
    color: #F16D7F;
}

.sales {
    margin: 0 auto 62px auto;
}

.sales-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.sales-img {
    width: 360px;
    height: 260px;
    background-image: url(../img/sales-img-woman.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sales-list>li:nth-child(2) .sales-img {
    background-image: url(../img/sales-img-man.png);
}

.sales-list>li:nth-child(3) .sales-img {
    background-image: url(../img/sales-img-kid.png);
}

.sales-list>li:nth-child(4) .sales-img {
    background-image: url(../img/sales-imgbig-acces.png);
}


.sales-txt {
    color: #FFFFFF;
    padding: 105px 0 0 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.sales-header {
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.bigimg {
    width: 1140px;
    height: 180px;
    grid-column: span 3;
    grid-row: span 1;
}

.bigimg .sales-txt {
    padding-top: 65px;
}

.hit {
    padding: 0 auto 96px auto;
}

.hit-header {
    margin: 0 auto 48px auto;
}

.hit-header-title {
    margin: 0 auto 6px auto;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.hit-header-txt {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.hit-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}

.hit-item {
    background: #F8F8F8;
}

.hit-item-img {
    margin: 0 auto 24px auto;
}

.hit-item-title {
    margin: 0 auto 13px auto;
    padding-left: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.hit-item-txt {
    margin: 0 auto 18px auto;
    padding-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.hit-item-price {
    padding-left: 18px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}


@media (max-width: 1024px) {
    .center {
        max-width: 768px;
    }

    .promo-img {
        max-width: 386px;
        max-height: 368px;
    }

    .promo-txt-title {
        font-size: 44px;
        line-height: 53px
    }

    .promo-txt-subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .promo-txt {
        margin: 138px 0 138px 0;
    }

    .sales-list {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }

    .sales-img {
        width: 232px;
        height: 167px;
    }

    .bigimg {
        width: 735px;
        height: 116px;
    }

    .sales {
        margin: 0 auto 110px auto;
    }

    .sales-txt {
        padding: 58px 0 0 0;
    }

    .bigimg .sales-txt {
        padding-top: 33px;
    }

    .hit-header {
        margin: 0 auto 72px auto;
    }

    .hit-list {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

}

@media (max-width:767px) {

    .center {
        max-width: 375px;
    }

    .mobile {
        visibility: hidden;
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .header-left {
        padding-left: 16px;
    }

    .header-right-list {
        gap: 0px;
        padding-right: 16px;
    }

    .promo {
        justify-content: center;
    }

    .promo-txt-title {
        font-size: 38px;
        line-height: 46px;
    }

    .sales-list {
        grid-template-columns: repeat(1, 343px);
        gap: 32px;
    }


    .sales-img {
        width: 343px;
        height: 247px;
    }

    .bigimg {
        width: 343px;
        height: 111px;
        background-size: cover;
    }

    .sales {
        margin: 0 auto 64px auto;
    }

    .hit-list {
        grid-template-columns: repeat(1, 360px);
        gap: 16px;
    }

}