* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.center {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #222222;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
}


.header-left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header-right-list {
    display: flex;
    gap: 33px;
    position: relative;
}

.header-menu {
    background: transparent;
    border: none;
}

.dropmenu-check {
    display: none;
}

.drop-menu {
    display: none;
    width: 232px;
    height: 634px;
    position: absolute;
    top: 54px;
    left: 239px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

#dropmenu:checked~.drop-menu {
    display: block;
}

.dropmenu-title {
    padding: 32px 0 32px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}

.dropmenu-item {
    padding-left: 32px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}

.man-list,
.woman-list,
.kids-list {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: none;
    padding-top: 12px;
}

.man-item,
.woman-item,
.kids-item {
    margin-bottom: 11px;
}

.promo {
    background: #F1E4E6;
    margin: 0 auto 65px auto;
}

.promo-content {
    display: flex;
}

.promo-img {}

.promo-txt {
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 16px;
    margin: 290px 0 382px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-txt-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-txt-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.colortxt {
    color: #F16D7F;
}

.sales {
    margin: 0 auto 62px auto;
}

.sales-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.sales-img {
    width: 360px;
    height: 260px;
    background-image: url(../img/sales-img-woman.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sales-list>li:nth-child(2) .sales-img {
    background-image: url(../img/sales-img-man.png);
}

.sales-list>li:nth-child(3) .sales-img {
    background-image: url(../img/sales-img-kid.png);
}

.sales-list>li:nth-child(4) .sales-img {
    background-image: url(../img/sales-imgbig-acces.png);
}


.sales-txt {
    color: #FFFFFF;
    padding: 105px 0 0 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.sales-header {
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.bigimg {
    width: 1140px;
    height: 180px;
    grid-column: span 3;
    grid-row: span 1;
}

.bigimg .sales-txt {
    padding-top: 65px;
}

.hit {
    padding: 0 auto 96px auto;
    margin-bottom: 95px;
}

.hit-header {
    margin: 0 auto 48px auto;
}

.hit-header-title {
    margin: 0 auto 6px auto;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.hit-header-txt {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.hit-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 48.5px;
}

.hit-item {
    background: #F8F8F8;

}

.wrap {
    position: relative;

}

.hit-item-img {
    display: block;
    margin: 0 auto 24px auto;
    width: 360px;
    height: 420px;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
}

.filter-cart {
    width: 139px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    margin: auto;
}

.filter-cart-txt {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.wrap:hover .filter {
    display: flex;
}

.hit-item-title {
    margin: 0 auto 13px auto;
    padding-left: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.hit-item-txt {
    margin: 0 auto 18px auto;
    padding-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.hit-item-price {
    padding-left: 18px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.btn-hit-more {
    display: block;
    margin: auto;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: transparent;
    border-color: #F26376;
    padding: 15px 39px 14px;
}

.btn-hit-more:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.advantages {
    background-color: #222224;
}

.advntg-content {}

.advntg-list {
    display: flex;
    gap: 30px;
    padding: 103px 230px 104px;
}

.advntg-icon {
    background-image: url(../img/advntg-icon-1.svg);
    width: 45px;
    height: 32px;
    margin: auto;
}

.advntg-list>li:nth-child(2) .advntg-icon {
    background-image: url(../img/advntg-icon-2.svg);
    width: 40px;
    height: 40px;
}

.advntg-list>li:nth-child(3) .advntg-icon {
    background-image: url(../img/advntg-icon-3.svg);
    width: 47px;
    height: 35px;
}

.advntg-title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}

.advntg-txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;

}

.sub {
    background-image: url(../img/back-ground-subsckribe.png);
    background-color: rgba(244, 244, 244, 0.7);
    background-blend-mode: color;
    height: 448px;
    background-position: center;
    background-size: cover;
    display: flex;
}


.sub-content {
    display: flex;
    margin: auto;
}

.sub-left {
    margin: auto;
    text-align: center;

}

.sub-left-comment {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.sub-left-img {
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
}

.sub-right {
    margin: auto;
    text-align: center;
}

.sub-right-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
}

.sub-right-txt {
    font-size: 18px;
    line-height: 167.2%;
    margin-bottom: 32px;
}

.sub-form {
    display: flex;
}

.sub-email {
    background-color: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    height: 49px;
    width: 256px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 25px;
    border: none;
}

.sub-btn {
    background-color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    height: 49px;
    width: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

footer {
    background: #222224;
    height: 79px;
    display: flex;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.networks-list {
    display: flex;
    gap: 7px;

}

.network-link {
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1024px) {
    .center {
        max-width: 768px;
    }

    .promo-img {
        max-width: 386px;
        max-height: 368px;
    }

    .promo-txt-title {
        font-size: 44px;
        line-height: 53px
    }

    .promo-txt-subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .promo-txt {
        margin: 138px 0 138px 0;
    }

    .sales-list {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }

    .sales-img {
        width: 232px;
        height: 167px;
    }

    .bigimg {
        width: 735px;
        height: 116px;
    }

    .sales {
        margin: 0 auto 110px auto;
    }

    .sales-txt {
        padding: 58px 0 0 0;
    }

    .bigimg .sales-txt {
        padding-top: 33px;
    }

    .hit-header {
        margin: 0 auto 72px auto;
    }

    .hit-list {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-bottom: 32px;
    }

    .advntg-list {
        flex-direction: column;
        gap: 38px;
        padding: 48px 204px 64px;
    }

    .sub {
        height: 614px;
    }

    .sub-content {
        flex-direction: column;
        gap: 48px;
        padding: 48px auto 140px auto;
    }

}

@media (max-width:767px) {

    .center {
        max-width: 375px;
    }

    .mobile {
        visibility: hidden;
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .header-left {
        padding-left: 16px;
    }

    .header-right-list {
        gap: 0px;
        padding-right: 16px;
    }

    .promo {
        justify-content: center;
    }

    .promo-txt-title {
        font-size: 38px;
        line-height: 46px;
    }

    .sales-list {
        grid-template-columns: repeat(1, 343px);
        gap: 32px;
    }


    .sales-img {
        width: 343px;
        height: 247px;
    }

    .bigimg {
        width: 343px;
        height: 111px;
        background-size: cover;
    }

    .sales {
        margin: 0 auto 64px auto;
    }

    .hit-list {
        grid-template-columns: repeat(1, 360px);
        gap: 16px;
        margin-bottom: 40px;
    }

    .advntg-list {
        flex-direction: column;
        gap: 38px;
        padding: 48px 13px 81px;
    }

    .sub {
        height: 610px;
    }

    .sub-content {
        flex-direction: column;
        gap: 59px;
        padding: 48px auto 140px auto;
    }

    .sub-left-comment {
        font-size: 18px;
        line-height: 22px;
    }

    footer {
        height: 143px;
    }

    .footer-content {
        flex-direction: column-reverse;
    }
}